@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
div::-webkit-scrollbar {
  width:1px;
  height:auto;
  background-color:transparent;
}
*{
  margin: 0;
  padding: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.el_delete{
    font-size: 24px;
    cursor: pointer;
}
.el-table__body-wrapper::-webkit-scrollbar{
  width:auto;
  height:10px;
  background-color:#ddd;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #999;
}
.el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ccc;
}

.img_fit{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.el_pagination{
  width: 100%;
  overflow: hidden;
  margin: 40px auto;
}
.select_view{
  padding: 20px;
  background: #FFFFFF;
  height: auto;
  margin-top: 10px;
}
.mg_l15{
  margin-left: 15px;
}
.mg_r15{
  margin-right: 15px;
}
.mg_t10{
  margin-bottom: 10px;
}
.content_box{
  padding: 20px;
  .table_from{
    .el-form-item{
      margin-bottom: 0;
    }
  }
  .list{
    width: 100%;
    min-height: 700px;
    margin-top: 10px;
  }
  .delete_icon{
      font-size: 20px;
      cursor: pointer;
   }
   .link{
     color: #00f;
     &:hover{
       cursor: pointer;
       text-decoration: underline;
     }
   }
}
.el-image-viewer__close{
  color: #FFFFFF;
}

.bg-white {
  background-color: #fff;
}

.flex {
	display: flex;
}

.flex-auto {
	flex: auto;
}

.flex-wrap {
	flex-wrap: wrap;
}

.just-center {
	justify-content: center;
}

.just-around {
	justify-content: space-around;
}

.just-sb {
	justify-content: space-between;
}

.just-start {
	justify-content: flex-start;
}

.flex-d {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.just-end {
	justify-content: flex-end;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

.ml5 {
	margin-left: 5px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}

.mr5 {
	margin-right: 5px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.pl5 {
	padding-left: 5px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}

.pr5 {
	padding-right: 5px;
}

.pr10 {
	padding-right: 10px;
}

.pr15 {
	padding-right: 15px;
}

.pr20 {
	padding-right: 20px;
}

.pr25 {
	padding-right: 25px;
}

.pr30 {
	padding-right: 30px;
}

.pt5 {
	padding-top: 5px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}

.pt30 {
	padding-top: 30px;
}

.pb5 {
	padding-bottom: 5px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb25 {
	padding-bottom: 25px;
}

.pb30 {
	padding-bottom: 30px;
}

.padding {
  padding: 20px;
}

.font20 {
  font-size: 20px;
}

.font22 {
  font-size: 22px;
}

.font24 {
  font-size: 24px;
}

.font26 {
  font-size: 26px;
}

.font-bold {
  font-weight: bold;
}

.color-333 {
  color: #333;
}

.mt20 {
  margin-top: 20px;
}